
#MainScreen{
	-fx-pref-width: 600.0;
	-fx-pref-height: 700.0;
}

/*******************************************************************************
 *                                                                             *
 * Password with icon                                                          *
 *                                                                             *
 ******************************************************************************/

.txt{
	-fx-border-color: black;
	-fx-border-width: 0.0 0.0 1.0 0.0;
	-fx-background-color: transparent;
}

.withicon {    
    -fx-background-position: right 4.0px center;
    -fx-background-size: 14.0;
    -fx-background-repeat: no-repeat;
}

.showing {
    -fx-background-image: url("eye.png");
}

.hiding {
    -fx-background-image: none;
}



/*******************************************************************************
 *                                                                             *
 * DatePicker                                                                  *
 *                                                                             *
 *****************************************************************************
.date-picker{
}
.date-picker > .arrow-button > .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1.0 0.0 -1.0 0.0, 0.0;
    -fx-padding: 0.416667em 0.416667em 0.333333em 0.333333em; /* 5 5 4 4 
    -fx-scale-shape: true;
}
.date-picker > .arrow-button{
    -fx-background-insets: 1.0 0.0 -1.0 0.0, 0.0;
    -fx-padding: 0.416667em 0.416667em 0.333333em 0.333333em; /* 5 5 4 4 
    -fx-scale-shape: true;
}

.date-picker > .date-picker-display-node{
	-fx-border-width:0.0 0.0 1.0 0.0;
    -fx-border-color:black;
	-fx-base: rgba(251.0,170.0,49.0,0.8);
    -fx-background-insets: 1.0 0.0 -1.0 0.0, 0.0;
    -fx-padding: 0.416667em 0.416667em 0.333333em 0.333333em; /* 5 5 4 4 
    -fx-scale-shape: true;
    -fx-prompt-text-fill:black;

}

.date-picker-popup {
     -fx-background-color:
        linear-gradient(to bottom,
            derive(-fx-color,-17.0%),
            derive(-fx-color,-30.0%)
        ),
        -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0;
    -fx-alignment: CENTER; /* VBox 
    -fx-spacing: 0.0; /* VBox 
    -fx-padding: 0.083333em; /* 1 1 1 1 
    -fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.2) , 12.0, 0.0 , 0.0 , 8.0 );
}
.date-picker-popup > .month-year-pane {
    -fx-padding: 0.588883em 0.5em 0.666667em 0.5em; /* 7 6 8 6 
    -fx-background-color: derive(-fx-box-border,30.0%), linear-gradient(to bottom, derive(-fx-base,-3.0%), derive(-fx-base,5.0%) 50.0%, derive(-fx-base,-3.0%));
    -fx-background-insets: 0.0 0.0 0.0 0.0, 0.0 0.0 1.0 0.0;
}
.date-picker-popup > * > .spinner {
    -fx-spacing: 0.25em; /* 3 
    -fx-alignment: CENTER;
    -fx-fill-height: false;
    -fx-background-color: transparent;
}
.date-picker-popup > * > .spinner > .button {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-color: transparent;
    -fx-background-radius: 0.0;
}
.date-picker-popup > * > .spinner > .button:focused {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
    -fx-color: -fx-hover-base;
    -fx-background-insets: -0.2, 1.0, 2.0, -1.4, 2.6;
}
.date-picker-popup > * > .spinner > .button:hover {
    -fx-color: -fx-hover-base;
}
.date-picker-popup > * > .spinner > .button:armed {
    -fx-color: -fx-pressed-base;
}
.date-picker-popup > * > .spinner > .left-button {
    -fx-padding: 0.0 0.333333em 0.0 0.25em; /* 0 4 0 3 
}
.date-picker-popup > * > .spinner > .right-button {
    -fx-padding: 0.0 0.25em 0.0 0.333333em; /* 0 3 0 4 
}
.date-picker-popup > * > .spinner > .button > .left-arrow,
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-background-color: -fx-mark-highlight-color, derive(-fx-base,-45.0%);
    -fx-background-insets: 1.0 0.0 -1.0 0.0, 0.0;
    -fx-padding: 0.333333em 0.166667em 0.333333em 0.166667em; /* 4 2 4 2 
    -fx-effect: dropshadow(two-pass-box , -fx-shadow-highlight-color, 1.0, 0.0 , 0.0, 1.4);
}
.date-picker-popup > * > .spinner > .button:hover > .left-arrow,
.date-picker-popup > * > .spinner > .button:hover > .right-arrow {
    -fx-background-color: -fx-mark-highlight-color, derive(-fx-base,-50.0%);
}
.date-picker-popup > * > .spinner > .button:pressed > .left-arrow,
.date-picker-popup > * > .spinner > .button:pressed > .right-arrow {
    -fx-background-color: -fx-mark-highlight-color, derive(-fx-base,-55.0%);
}
.date-picker-popup > * > .spinner > .button > .left-arrow {
    -fx-padding: 0.333333em 0.25em 0.333333em 0.166667em; /* 4 3 4 2 
    -fx-shape: "M5.997,5.072L5.995,6.501l-2.998-4l2.998-4l0.002,1.43l-1.976,2.57L5.997,5.072z";
    -fx-scale-shape: true;
}
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-padding: 0.333333em 0.25em 0.333333em 0.166667em; /* 4 3 4 2 
    -fx-shape: "M2.998-0.07L3-1.499l2.998,4L3,6.501l-0.002-1.43l1.976-2.57L2.998-0.07z";
    -fx-scale-shape: true;
}
.date-picker-popup > * > .spinner > .label {
    -fx-alignment: CENTER;
}
.date-picker-popup > .month-year-pane > .secondary-label {
    -fx-alignment: BASELINE_CENTER;
    -fx-padding: 0.5em 0.0 0.0 0.0; /* 6 0 0 0 
    -fx-text-fill: #f3622d;
}

.date-picker-popup > .calendar-grid {
    -fx-background-color: derive(-fx-selection-bar-non-focused, 60.0%);
    /*-fx-background-insets: 1 0 0 0;
    -fx-padding: 0.0;
}
.date-picker-popup > * > .date-cell {
    -fx-background-color: transparent;
    -fx-background-insets: 1.0, 2.0;
    -fx-padding: 0.0;
    -fx-alignment: BASELINE_CENTER;
    -fx-opacity: 1.0;
}
.date-picker-popup > * > .day-name-cell,
.date-picker-popup > * > .week-number-cell {
    -fx-font-size: 0.916667em;
}
.date-picker-popup > * > .week-number-cell {
    -fx-padding: 0.333333em 0.583333em 0.333333em 0.583333em; /* 4 7 4 7 
    -fx-border-color: -fx-control-inner-background;
    -fx-border-width: 1.0px;
    -fx-background: -fx-control-inner-background;
    -fx-background-color: -fx-background;
    -fx-text-fill: -fx-accent;
}
.date-picker-popup > * > .day-cell {
    -fx-padding: 0.333333em 0.583333em 0.333333em 0.583333em; /* 4 7 4 7 
    -fx-border-color: derive(-fx-selection-bar-non-focused, 60.0%);
    -fx-border-width: 1.0px;
    -fx-font-size: 1.0em;
    -fx-background: -fx-control-inner-background;
    -fx-background-color: -fx-background;
    -fx-text-fill: -fx-text-background-color;
}
.date-picker-popup > * > .hijrah-day-cell {
    -fx-alignment: TOP_LEFT;
    -fx-padding: 0.083333em 0.333333em 0.083333em 0.333333em; /* 1 4 1 4 
    -fx-cell-size: 2.75em;
}
.date-picker-popup > * > .day-cell > .secondary-text {
    -fx-fill: #f3622d;
}
.date-picker-popup > * > .today {
    -fx-background-color: -fx-control-inner-background, derive(-fx-selection-bar-non-focused, -20.0%), -fx-control-inner-background;
    -fx-background-insets: 1.0, 2.0, 3.0;
}
.date-picker-popup > * > .day-cell:hover,
.date-picker-popup > * > .selected,
.date-picker-popup > * > .previous-month.selected,
.date-picker-popup > * > .next-month.selected {
    -fx-background: -fx-selection-bar;

}
.date-picker-popup > * > .previous-month:hover,
.date-picker-popup > * > .next-month:hover {
    -fx-background: -fx-selection-bar-non-focused;

}
.date-picker-popup > * > .today:hover,
.date-picker-popup > * > .today.selected {
    -fx-background-color: -fx-selection-bar, derive(-fx-selection-bar-non-focused, -20.0%),-fx-selection-bar;
}
.date-picker-popup > * > .day-cell:focused,
.date-picker-popup > * > .today:focused {
    -fx-background-color: -fx-control-inner-background, -fx-cell-focus-inner-border, -fx-control-inner-background;
    -fx-background-insets: 1.0, 2.0, 3.0;
}
.date-picker-popup > * > .day-cell:focused:hover,
.date-picker-popup > * > .today:focused:hover,
.date-picker-popup > * > .selected:focused,
.date-picker-popup > * > .today.selected:focused {
    -fx-background-color: -fx-selection-bar, -fx-cell-focus-inner-border, -fx-selection-bar;
}
.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .next-month {
    -fx-background: derive(-fx-control-inner-background, -4.0%);
}
.date-picker-popup > * > .day-cell:hover > .secondary-text,
.date-picker-popup > * > .previous-month > .secondary-text,
.date-picker-popup > * > .next-month > .secondary-text,
.date-picker-popup > * > .selected > .secondary-text {
    -fx-fill: -fx-text-background-color;

}
.date-picker-popup > * > .previous-month.today,
.date-picker-popup > * > .next-month.today {
    -fx-background-color: derive(-fx-control-inner-background, -4.0%), derive(-fx-selection-bar-non-focused, -20.0%), derive(-fx-control-inner-background, -4.0%);
}

.date-picker-popup > * > .previous-month.today:hover,
.date-picker-popup > * > .next-month.today:hover {
    -fx-background-color: -fx-selection-bar-non-focused, derive(-fx-selection-bar-non-focused, -20.0%), -fx-selection-bar-non-focused;
}
*/

.date-picker:editable, .date-picker-display-node{
	-fx-background-color: transparent ;
}
.arrow:disabled{
	-fx-background-image: url("eye.png");

}

.arrow-button{
	-fx-background-color: transparent ;
}
.arrow-button:hover{
	-fx-background-color: green ;
}


.scroll-pane, .viewport{
	-fx-background-color: transparent ;
	-fx-pref-width: 100.0%;
}

/*******************************************************************************
 *                                                                             *
 * Dinamic construction                                                        *
 *                                                                             *
 ******************************************************************************/

.activityItem{

	-fx-border-color: red;
	-fx-background-color: lightgreen;
	-fx-border-radius: 15;
	-fx-background-radius: 15;
}

.activityItem:hover{

	-fx-background-color: #ff5598;
}
.activityItem:selected{
	-fx-background-color: #666f98 !important;
}
.activityItemselected{

	-fx-background-color: #666f98 !important;
}


